#text{
    -fx-font: 30px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, rgb(12, 176, 176) 0%, rgb(199, 42, 42) 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#highscore{
    -fx-font: 40px Tahoma;
    -fx-fill: rgba(250,201,2);
}